<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="divestoclimb.scuba.equipment"
		android:versionCode="17"
		android:versionName="2.0.7"
		android:installLocation="auto">
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<supports-screens android:smallScreens="true" />
	<application android:icon="@drawable/launcher" android:label="@string/app_name">
		<activity android:name=".CylinderSizes" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.divestoclimb.scuba.equipment.cylinders.size" />
			</intent-filter>
		</activity>
		<activity android:name=".CylinderEdit" android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".CylinderSizeEdit" android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".About" android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".Info" android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".prefs.Settings">
		</activity>
		<provider android:name=".storage.EquipmentContentProvider"
			android:authorities="divestoclimb.scuba.equipment">
		</provider>
		<!-- Receiver that gets notified when a relevant setting has been updated in
		     another app -->
		<receiver android:name=".prefs.UpdatePrefs">
			<intent-filter>
				<action android:name="divestoclimb.scuba.UNIT_CHANGE" />
			</intent-filter>
		</receiver>
		<!-- ContentProvider that allows apps with the same preference settings to
		     synchronize with this app -->
		<provider android:name=".prefs.PrefsContentProvider"
			android:authorities="divestoclimb.scuba.equipment.preferences">
		</provider>
		<receiver android:name=".CheckCylinders">
			<intent-filter>
				<action android:name="divestoclimb.scuba.equipment.CHECK_CYLINDERS" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
			</intent-filter>
		</receiver>
		<!-- Receiver that actually performs a scheduled backup -->
		<receiver android:name=".Backup">
			<intent-filter>
				<action android:name="divestoclimb.action.PERFORM_BACKUP" />
			</intent-filter>
		</receiver>
		<!-- Receiver that schedules future backup jobs -->
		<receiver android:name=".Backup$Scheduler">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
